{{ header }}


<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
    {% else %}
        {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
		<h2>{{ heading_title }}</h2>
		{% if products %}
			{#==== Product Listing ==== #}
            <div class="products-category">
                {% include theme_directory~'/template/soconfig/listing.twig' with {listingType: listingType} %}
            </div>
		{% else %}
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right">
                    <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                </div>
			</div>
		{% endif %}

        {% if description %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {{ description }}
                    </div>
                </div>
            </div>
        {% endif %}

		{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}