/*============PANEL MEGAMENU ==================*/
.megamenu-style-dev{
    .navbar-default{background: none;}
    .navbar-header{display: none;}
    .megamenu-wrapper,.vertical-wrapper{width:100%; background: none; position: static; transform: translate3d(0, 0, 0); visibility:visible;}
    ul.megamenu .title-submenu{ padding: 0; font-weight: bold;font-size: 14px;color: #666;}
    ul.megamenu > li{border: none; border-bottom: 1px solid #d8d8d8;
        &.click:before,
        &.hover:before{font-size:14px; color: #666; #{$right}: 0; right: auto; padding: 10px 15px;}
        > a{ padding: 10px ; font-size: 14px; margin:0; color: #333;}
    }
    ul.megamenu > li.active .close-menu{#{$right}: 0; right: auto;     height: 42px;padding: 10px 15px; width: auto;}

    ul.megamenu > li > a img{display: none;}
    ul.megamenu li .sub-menu .content{position: static; padding: 15px;
        .row{margin: 0 -15px;
            > div{ padding: 0 15px; border: none;    display: inline-block;margin-top: 10px; }
        }
    }
    .vertical li.loadmore i{padding: 0;}
    .subcategory li a{text-align: $left;}
    ul.megamenu li .sub-menu .content .static-menu a.main-menu{font-size: 14px;}
    .vertical ul.megamenu li .sub-menu .content .hover-menu a.main-menu{font-size: 14px;}
    ul.megamenu li .sub-menu .content .hover-menu .menu ul{margin:0;}
    ul.megamenu li .sub-menu .content .static-menu .menu ul ul li:before,
    ul.megamenu li .sub-menu .content .hover-menu a:before{ padding: 0; padding-#{$right}: 6px;}
}

// MENU FEATURES
    .shoppage {width: 100%; vertical-align: top; font-size: 14px; margin:0 !important;
        > li{padding-left: 0; padding-right: 0; width: 100%;}
        .title-shoppage{
            text-transform: uppercase;
            font-weight: bold;
            color: #666;
            padding-top: 15px;
        }
        ul{
            li{
                transition: all 0.2s  ease-in-out;
            }
            .submenuitem{color: #777;}
            a{display: inline-block; padding: 5px 0; position: relative;}


        }
        .submenu-shop{
            position: relative;
            .fa-angle-right {
                position: absolute;#{$right}: 0; margin: 5px 15px;
                @include if-rtl {transform: rotate(180deg);}
            }
            .menu-label {
                #{$right}: -25px;
                #{$left}: auto;
                margin-top: -14px;
            }
            .menu-label-new{
                background-color: #0f8db3;
                &:after{color: #0f8db3;}
            }
            .menu-label-hot {
                background-color: #ef7c0a;
                &:after{color: #ef7c0a;}
            }
            .menu-label {
                position: absolute;
                top: 80%;
                #{$right}: -30px;
                padding: 2px 4px;
                margin-top: -20px;
                color: #fff;
                line-height: 1.3;
                font-size: 8px;
                font-family: Karla,Arial,Helvetica,sans-serif;
                text-transform: uppercase;
                transform: translateY(-50%);
                transition: opacity .3s ease-in-out;

                &:after {
                    content: "\f0da";
                    font-family: FontAwesome;
                    position: absolute;
                    z-index: -1;
                    bottom: 5px;
                    font-size: 16px;
                    position: absolute;
                    bottom: -9px;
                    left: 3px;
                }
            }
           
            ul{
                padding: 0 15px ;list-style: square;
            }
           
        }
        

    }

/*============PANEL CATEGORY ==================*/
.panel {border: none; font-size: 14px;
    .content{background: #e4e4e4 ;width: auto;margin: 0;}
    .panel-group{background: transparent;color: #999;}
    .panel-group .panel {background: transparent;border-radius: 0; box-shadow: none; margin: 0; border-bottom: 1px solid #d2d2d2 ;
        .panel-heading{background: transparent;border-radius: 0; position: relative;z-index: 2;
            
            .head {
                display: block;
                position: absolute;
                top: 5px;
                z-index: 10;
                line-height: 20px;
                #{$right}: 10px;
                text-align: center;
                a:before {
                    content: "\e82e";
                    display: inline-block;
                    font-family: $FontRatchicons;
                    width:30px; height: 30px; line-height: 30px;
                }
                
            }
        }
    }
    
    .panel-collapse ul{padding: 0 15px;margin-bottom: 15px;
        li{padding: 3px 10px;
            &:before{content: "-";}
            a{color: #666;}
        }
    }
    .bot-inner{
        a{color: #666;}
    }
}

.panel-logo{margin: 15px 0; padding: 0 30px;}
.panel-search{
    .input-group{background: #ddd; margin: 20px; 
        input{border: none;font-size: 13px;}
    }
}
.panel-left__bottom{ margin-bottom: 15px;
    .bot-inner{font-size: 13px;}
    .panel-left__language,
    .panel-left__currency{padding: 0; margin-top: 20px;
        h4{font-size: 13px;font-weight: normal; margin: 10px 0 0;}
    }
    .btn-group .btn-link{font-size: 12px; padding: 2px 5px;border: 1px solid #999; }
    .select .btn-link{border-color: $background;}
}

/*.popover{width:240px;}*/
.popover{
    &.bottom{width:220px;bottom: 55px;top: auto; margin-top: 0; #{$right}: 0;#{$left}: auto;
        &:before{border-bottom: 0;border-top: 15px solid rgba(247, 247, 247, .98); top: auto;bottom: -15px; #{$left}: 80%;}
    }
}

.fancy-collapse-panel .panel-default > .panel-heading {
padding: 0;

}
