
footer #collapse-footer{
	display: block;
}
.footer-container{
	clear: both;
}
footer .so-page-builder .container{
    padding: 0 15px;
}
footer .copyright a{
	color: $linkColor !important;
}
.typefooter-1 .socials li a:hover,
.typefooter-1 .footer-middle .footer-links li a:hover{
	color: $linkColor;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	background-color: $background;
	&:hover{
		background-color: darken($background, 10%);
	}
}
.typefooter-1 .module .modtitle:after{
	background-color: $background;
}



.typefooter-2 .footer-middle .footer-links li a:hover{
	color: $linkColor;
}
.typefooter-2 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	background-color: $background;
	&:hover{
		background-color: darken($background, 10%);
	}
}
.typefooter-2 .module .modtitle:after{
	background-color: $background;
}

.typefooter-2 .footer-top{
	background-color: $background;
}



.typefooter-3 .footer-middle .footer-links li a:hover{
	color: $linkColor;
}
.typefooter-3 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button{
	background-color: $background;
	&:hover{
		background-color: darken($background, 10%);
	}
}
.typefooter-3 .module .modtitle:after{
	background-color: $background;
}

.typefooter-3 .footer-top{
	background-color: $background;
}

.typefooter-4 .footer-bottom,
.typefooter-4 .newsletter-footer4 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: $background;
}
.typefooter-4 .box-footer .modcontent ul li a::before,
.typefooter-4 .infos-footer ul.infos li:hover i{
	background-color: $background;
}
.typefooter-4 .socials li a:hover,
.typefooter-4 .infos-footer ul li:hover i{
	background-color: $background;
}

.typefooter-5 .infos-footer ul.infos li:hover i{
	background-color: $background;
}

.typefooter-5 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-5 .box-footer .modcontent ul li a::before,
.typefooter-5 .module .modtitle::after,
.typefooter-5 .newsletter-footer4 .newsletter .block_content form.signup .subcribe button{
	background-color: $background;
}
.typefooter-5 .newsletter-footer4 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: darken($background, 10%);
}
.typefooter-5 .socials li a:hover{
	background-color: $background;
	border-color: $background;
}
.typefooter-5 .categories-footer ul li a:hover{
	color: $linkColor;
}


.typefooter-6 .coltop a:hover{
	background-color: $background;
}
.typefooter-6 .newsletter-footer6 .newsletter .block_content form.signup .subcribe button:hover:before,
.typefooter-6 .box-footer .modcontent ul li a:hover::before,
.typefooter-6 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}

.typefooter-7 .newsletter-footer6 .newsletter .block_content form.signup .subcribe button:hover:before,
.typefooter-7 .box-footer .modcontent ul li a:hover::before,
.typefooter-7 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-7 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: darken($background, 10%);
}


.typefooter-8 .footer-links li a:hover,
.typefooter-8 .socials li a:hover{
	color: $linkColor;
}
.typefooter-8 .block-policy8 ul li .item-inner:hover .content b, 
.typefooter-8 .block-policy8 ul li .item-inner:hover .content span{
	color: $linkColor;
}


.typefooter-9 .newsletter-footer9 .newsletter .title-block .page-heading,
.typefooter-9 .infos-footer ul.modcontent li i,
.typefooter-9 .infos-footer .socials li a:hover,
.typefooter-9 .box-footer .modcontent ul li a:hover::before,
.typefooter-9 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .subcribe button{
	background-color: $background;
	&:hover{
		background-color: darken($background, 10%);
	}
}
.typefooter-9 .footer-top{
	background-color: $background;
}


.typefooter-10 .box-footer .modcontent ul li a::before,
.typefooter-10 .infos-footer ul li:hover i{
	background-color: $background;
}
.typefooter-10 .socials li a:hover,
.typefooter-10 .box-footer .modcontent ul li a:hover{
	color: $linkColor;
}
.typefooter-10 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button:hover{
	background-color: $background;
}