
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

/*.footer-container{
  margin-top: 40px;
}*/
.typefooter-3{
  margin-top: 0px;

  /* GENERAL */
  .module .modtitle{
        color: $textColor2;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 25px !important;  
        font-weight: 700;
        text-transform: uppercase;   
        position: relative;
        padding-bottom: 6px;
        &:after{
          position: absolute;
          content: "";
          width: 60px;
          height: 2px;
          #{$left}: 0;
          bottom: 0;
        }        
  }
  .box-footer{  
  margin-top: 3px;  
    .modcontent{
      ul{
        li{           
              a{
                border: 0 none;               
                font-size: 14px;
                padding: 0;       
                font-weight: 400; 
                line-height: 30px;  
                position: relative;
                padding-#{$left}: 20px;
                display: inline-block;
                &:before{
                  font-family: 'FontAwesome';
                  content: "\f192";
                  font-size: 8px;
                  position: absolute;
                  top: 0px;
                  #{$left}: 0;
                }
              }       
            }
      }
    }
  }


  .footer-top{
    padding: 20px 0;
    > .container{
      margin: 0 auto;
      float: none;
      padding: 0;
    }
    .top-inner > .row{
      margin: 0;
    }

  }
  .so-page-builder .container{
    padding: 0;
  }
  .footer-middle{
    padding-top: 43px;
    margin: 0;
    .fl1{
      width: 40%;
    }
    .fl2,
    .fl3{
      width: 30%;
    }
  }
  .newslett{
    margin: 0;
  }
  .newsletter-footer1{
    border-top: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;
    padding: side-values(15px 0 10px 0);
    margin-top: 20px;
      .newsletter{
        background-color: transparent !important;
        .title-block{     
          position: relative;
          color: #222;
          float: $left;
          width: 40%;
          padding-#{$left}: 70px;
          margin-top: 20px;
          &:before{
            position: absolute;
            font-family: 'FontAwesome';
            content: "\f1d9";
            font-size: 40px;
            position: absolute;
            top: 5px ;
            #{$left}: 0;
          } 
          .page-heading{           
            @include rem(font-size,22px);
            line-height: 20px;  
            font-weight: 700;
            text-transform: capitalize;   
          }
          .promotext{
            font-size: 14px;
            color: #999;
          }
        }
        .block_content{
          float: $left;
          width: 60%;
          form.signup{
            display: block;
            margin-top: 15px;
            padding-#{$left}: 45px;
            .form-group{
              position: relative;
              .input-box{
                background-color: #fff;  
                vertical-align: top;
                padding-#{$right}: 120px;
                border-radius: 4px;
                border: 1px solid #ebebeb;
              }
              .subcribe{
                position: absolute;
                top: 0;
                #{$right}: 0;
              }

              #txtemail{
                height: 50px;
                line-height: 50px;
                width: 100%;
                box-shadow: none;
                padding: side-values(0 0 0 20px);
                border: none;           
                background-color: #fff;  
                &::-moz-placeholder {
                        color: #999;
                          opacity: 1; 
                      }
                      &:-ms-input-placeholder { color: #999; } 
                      &::-webkit-input-placeholder  { color: #999; } 
                        &:focus{
                            z-index: 0;
                        }
              }
            }

            .subcribe button{           
              border: 0 none;
              color: #fff;
              font-weight: 700;
              font-size: 16px;
              height: 52px;
              line-height: 50px;
              padding: 0 25px;    
              text-transform: capitalize;
              border-bottom-#{$right}-radius: 3px;
              border-top-#{$right}-radius: 3px;
              &:hover{
                color: #fff;
              }
            }
          }
        }
      }
  }

  .socials{
    float: $right;
    margin-top: 0;
    li{
      position: relative;
      float: $left;
      a{
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        display: inline-block;
        margin-#{$left}: 10px;
        color: #fff;
          font-size: 14px;
          text-transform: capitalize;
        &:hover{
          color: #222;
        }
          i{

          }
      }
      
    }
  }
  .infos-footer{
    ul{
      margin-top: 20px;
      li{
        background: url(#{$imgPath}icon/icon-contact.png) no-repeat $left top;  
          font-size: 14px;
          line-height: 20px;
          list-style: outside none none;
          padding: side-values(10px 10px 10px 40px);
          text-transform: capitalize;
          a{
            color: #666;
            font-size: 14px;
            transition: all 0.3s ease 0s;
          }
          &.adres {
            background-position: $left 14px;
        }
        &.phone {
            background-position: $left -55px;
        }
        &.mail {
            background-position: $left -100px;
        }
        &.time {
            background-position: $left -144px;
        }
      }
    }
  }

  .so-instagram-gallery .instagram-items-inner{
    .instagram-item{
      float: $left;
        margin-bottom: 10px;
        padding: 0 5px;
        position: relative;
        width: 25%;
      &.first-item{
        width: 50%;
      }
      .img_users a{
        border: none;
        &:hover{
          img{
            opacity: 0.8;
          }
        }
        /*img{
          border-radius: 5px;
        }*/
      } 

    }
  }
  
  .footer-links{
      float: $right;
      li{
        display: inline-block;
        margin-top: 10px;
        position: relative;
        vertical-align: top;
        padding: 0 15px;
        line-height: 100%;
        a{
          color: #fff;
          &:hover{
            color: #222;
          }
        }
        
      }
  }


  /* FOOTER BOTTOM */
  .copyright-w{

  }
  .payment-w{
    text-align: $right;
  }
  .footer-bottom{
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
      .copyright{
        color: #222;
      }
  }
}