@include breakpoint(xxxs){

    .common-home {
        .container{
            overflow: visible;
        }
    }
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */

    /*[] HEADER DEFFAULT []*/
    header{
        /*.collapsed-block .tabBlock .top-link > li{
            width: 33% !important;
            &.wishlist{
                display: none;
            }
        }*/
        .header-top-right ul.top-link > li.wishlist{
            display: none;
        }
        .btn-shopping-cart .dropdown-menu{
            min-width: 300px;
        }
            
        
    } 

    /*[] HEADER 1 []*/
    header.typeheader-1{
    }

    /*[] HEADER 2 []*/
    header.typeheader-2{
    }
    
    /*[] HEADER 3 []*/
    header.typeheader-3{
    }
     /*[] HEADER 6 []*/
    header.typeheader-6{
        
    }

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    body .banners > div a::after,
    body .banners > div a::before{
        display: none !important; 
    }

    /*[] LAYOUT 1 []*/
    .layout-1.common-home #content .module.listingtab-layout1 h3.modtitle{
        margin-bottom: 30px !important;
    }
    .layout-1{

        .listingtab-layout1 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
            top: 45px;
        }
    }

    /*[] LAYOUT 2 []*/

    .layout-2.common-home #content .module.listingtab-layout2 h3.modtitle{
        margin-bottom: 40px !important;
    }
    .layout-2{
        .listingtab-layout2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
            top: 45px;
        }
        .layout2-listingtab2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
            top: -5px;
        }
    }

    /*[] LAYOUT 3 []*/
    .layout-3.common-home #content .module.listingtab-layout3 h3.modtitle{
        margin-bottom: 40px !important;
    }
    .layout-3{
        .listingtab-layout3 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
            top: 45px;
        }
   
    }

    /*[] LAYOUT 5 []*/
    .layout-5{
      
    }

    /*[] LAYOUT 6 []*/
    .layout-6{
        .deals-layout6 .so-deal .extraslider-inner .item .product-thumb .inner{
            .item-left{
                width: 100%;
            }
            .item-right{
                margin-#{$left}: 0;
            }
            .item-time-w .time-title{
                display: none;
            }
            .item-timer{
                float: $left;
            }
        } 
    }
    /************************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER DEFFAULT []*/
    footer{ 
    }



    footer.typefooter-3{ 
    }

    

    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */


    .products-list.list .product-layout .product-item-container{
        display: inline-block;
        .left-block{
            width: 100%;
        }
        .right-block{
            margin-#{$left}: 0;
            margin-top: 20px;
            display: inline-block;
            padding: 0;
        }
    }

    .products-list.list .product-layout .product-item-container .right-block .caption .ratings{
        position: static;
        margin-bottom: 10px;
    }
    /************************************************************************************************
        PAGE DETAIL  
    ************************************************************************************************ */
    .product-view .content-product-right .box-info-product .detail-action{
        margin-#{$left}: 0;
        margin-top: 20px;
        clear: both;
    }

    .producttab .tabsslider.horizontal-tabs .nav-tabs li{
        display: inline-block;
        width: 100%;
        a{
            display: inline-block;
            width: 100%;
        }
    }
    .thumb-vertical-outer ul li .thumbnail.active{
        margin-top: 35%;
    }
    .product-view .content-product-right .share .socials-wrap ul li{
        margin-#{$left}: 25px;
    }

    .producttab .tabsslider.horizontal-tabs .nav-tabs li a::after{
        display: none;

    }
    .related-horizontal h3.modtitle span{
        font-size: 25px;
    }

    .thumb-vertical-outer { padding: 20px 0;}
    .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none; }
    .deals_module_wrapper .title-product{ margin-top: 20px; }
    .producttab .tabsslider .nav-tabs li{ float: none; }
    .product-view .content-product-right{ margin-top: 20px; }

    /************************************************************************************************
        PAGE BONUSS  
    ************************************************************************************************ */
    .our-member .respl-item .w-image-box,
    .welcome-about-us .image-about-us{ width: 100%; float: none; margin: 0; text-align: center;}
    .our-member .respl-item .info-member,
    .welcome-about-us .des-about-us{ margin: 20px 0; text-align: justify; }
    .happy-about-us .happy-ab .title-happy-about h2{ font-size: 16px; }
    //#sosearchpro .dropdown-menu {  width: 292px!important; }

    .title-decimal{
        line-height: 100%;
    }
    .table-responsive.checkout-product{
        overflow-y: hidden;
    }
    .table-responsive{
        overflow-y: auto;
    }
    /**********************
        POPUP LOGIN, NEWSLETTER
    ***********************************/
    body .block-popup-login{
        width: 295px;
    }
    body .block-popup-login .block-content .col-reg{
        width: 100%;
    }
    body .block-popup-login .block-content .col-reg.registered-account{
        border-#{$right}: none;
    }
    body .block-popup-login .block-content .col-reg.login-customer{
        padding-#{$left}: 0;
    }

    .so-onepagecheckout .coupon-voucher input[type="text"]{
        width: 100%;
    }
    /*=== popup categories -====*/
    #so_popup_countdown{
        .modal-dialog{
            background-color: #75bef3;
        }
        .modal-footer{        
            img{
                width: 100%;
                display: none;
            }
            #so_countdown_timer{
                top: 20px;
                #{$left}: 10px;
                .time-item{
                    width: 56px;
                    height: 56px;
                    line-height: 18px;
                }
            }

        } 
    } 
}

@media (max-width: 767px) and (min-width: 480px){

    .product-listing .products-list.grid{
        .product-layout{
            width: 50%;
            float: $left;
        }
        .visible-xs-block{
            display: none;
            clear: none;
            &:after{
                clear: none;
            }
        }
    } 
    .producttab .tabsslider.horizontal-tabs .nav-tabs{
        padding: 15px 5px;
        li{
            margin: 0;
            a{
                padding: 13px 15px !important;
            }
        }
    } 


    .layout-1{
        .blog-sidebar .so-blog-external .blog-external .media .item .media-left{
            margin-#{$right}: 10px;
        }
        .blog-sidebar .so-blog-external .blog-external .media .item .media-content .media-subcontent{
            width: 100%;
            margin-#{$left}: 0px;
        }
    }

    /*.layout-2{
        .box-category .so-categories .cat-wrap .content-box{
            width: 50%;
            padding: 0 15px;
        }
    }*/

    .layout-3{
    }

    /*=== popup categories -====*/
    #so_popup_countdown{
        .modal-dialog{
            width: 97% !important;
        }
        .modal-footer{
            img{
                width: 100%;
            }
            #so_countdown_timer{
                top: 45px;
            }
        } 
    } 
    
 
}