


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/

.typeheader-5{
    color: #fff;
    background-color: #22334c;
    // MENU ON TOP
    &.navbar-compact{
        .header-middle{
            padding: 10px 0;
        }
        #cart{
            margin-top: 3px;
        }
    }
    .header-top{
        min-height: 40px;
        background-color: #1d2b41;
        
        .module{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
        .header-top-right {display: inline-block;}

    }

    .header-middle{
        clear: both;
        padding: 50px 0;
        .middle2{
            padding-#{$right}: 0px;
        }

    }

    .header-bottom{
        clear: both;
        padding-bottom: 0px;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
    }


    .lang-curr{
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
        }
    }

    .signin-w{
        padding-#{$left}: 30px;
        float: $right;

        ul{
            li{
                float: $left;
                a{
                  
                }
            }
        }
    }


    ul.top-link{list-style: none;margin:0; vertical-align:top;
        display: inline-flex;
        .dropdown-menu{

        }
        > li{                
            display: inline-block; 
            position: relative;           
            list-style: outside none none;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            padding-#{$right}: 0;
            font-size: 12px;
            i{
                padding-#{$right}: 5px;
            }
            &.language{
                min-height: 23px;
            }
            .btn-group{
                display: inline;
                line-height: 40px;
                padding: 12px 0;
                .btn-link{
                    padding: 0;
                    border: none;
                    color: #fff;
                    text-transform: uppercase;
                }
            } 
            .fa-caret-down{
                font-size: 12px;
            }
            &:after {
                background-color: rgba(255,255,255,0.4);
                content: "";
                height: 11px;
                position: absolute;
                #{$left}: 0;
                top: 16px;
                width: 1px;
            }
            >   a {
                font-size: 12px;
                color: #fff;
                line-height: 40px;
                text-transform: uppercase;
            }
            
            &.account{
                line-height: 40px;
                > a{
                    padding: 0;
                    margin: 0;
                }
                &:before{
                    content: "\f007"; 
                    font-family: FontAwesome;
                    font-size: 12px;
                }
                .dropdown-menu {
                    #{$left}: 0;
                    #{$right}: auto;
                }                      
            }
            &.wishlist{
                &:before{
                    content: "\f004"; 
                    font-family: FontAwesome;
                    font-size: 11px;
                }  
            }


            &.account:hover  {
                ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
            }

            &.language{

            }
            &.welcome-msg,
            &:first-child{
                padding-#{$left}: 0px;
                margin-#{$left}: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }

    /*=====SEARCH ======*/
    .search-header-w{

    }
    #sosearchpro .search{
        position: relative;
        margin: 0;
        width: 100%;
        border: none;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        .select_category{
            border-#{$right}: 1px solid #d6d6d6;
            background-color: #fafafa;
            border-bottom-#{$left}-radius: 3px !important;
            border-top-#{$left}-radius: 3px !important;
            width: 27%;
            select{
                height: 44px;
                line-height: 44px;                
                font-size: 12px;         
                padding: 0 15px;   
                color: #666666;
                
                &:hover{
                    cursor: pointer;
                }
            }
            &.icon-select{
                &:after{
                    color: #666666;
                    background-color: #fafafa;
                    font-size: 16px;
                    line-height: 46px;
                    #{$right}: 0;
                    #{$left}: auto;
                    content: "\f0d7";
                }
            }
        } 
        .input-group-btn{
            width: 0;
        }
        button{
            position: absolute;
            top: 3px;
            #{$right}: 3px;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            padding: 0;
            font-size: 16px;
            color: #fff;
            border-radius: 0;
            text-transform: upper-case;
            border-radius: 3px;   
            i{
                font-size: 18px;
                color: #fff;
            }
        }
        
        input{
            border: none;
            border-radius: 0px;   
            border-bottom-#{$right}-radius: 4px;
            border-top-#{$right}-radius: 4px;         
            background-color: #fff;
            z-index: 0;
            height: 46px;
            padding-#{$left}: 20px;
            font-size: 12px;
            width: 100%;
            background-color: #fff;
            color: #444444;
            &::-moz-placeholder {
                color: #444444;
                opacity: 1; 
            }
            &:-ms-input-placeholder { color: #444444; } 
            &::-webkit-input-placeholder  { color: #444444; } 
            &:focus{
                z-index: 0;
            }
        }

    }
  
    .wishlist-btn{
        width: 46px;
        height: 46px;
        list-style: none;
        float: $right;
        margin-#{$right}: 10px;
        padding-top: 8px;
        margin-#{$left}: 15px;
        background-color: #1f2e44;
        border-radius: 3px;
        border: 1px solid rgba(255,255,255,0.1);
        a{
            text-align: center;
            i{
                font-size: 26px;
                color: #232f3e;
            }
            span{
                display: none;
            }
            &.top-link-wishlist{
                width: 46px;
                height: 30px;
                display: block;
                overflow: hidden;
                text-indent: -999em;
                &:before{
                    font-family: 'FontAwesome';
                    content: "\f004";
                    font-size: 20px;
                    color: #fff;
                    display: block;
                    text-indent: 0;
                }
            }
        } 
    }
    /*BLOCK CART*/
    .shopping_cart{
        float: $right;
        position: relative;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        .btn-shopping-cart .top_cart{
            position: relative;
            .icon-c{
                width: 46px;
                height: 46px;           
                float: $left;                
                text-align: center;
                line-height: 46px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                i{
                    font-size: 20px;
                    color: #fff;
                }
            }
            .shopcart-inner{
                float: $left;
                color: #fff;
                margin: side-values(8px 15px 0 5px);         
                .text-shopping-cart{
                    font-weight: 400;
                    margin-top: 0px;
                    margin-bottom: 2px;
                    line-height: 100%;
                    text-transform: uppercase;         
                }
                .total-shopping-cart{
                    font-size: 12px;
                    float: $left;
                    line-height: 100%;
                    font-weight: 600;
                    .items_cart2{
                        
                    }
                    .items_cart{
                       
                    }
                }
            } 
                
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            color: #666;
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }


    .container-megamenu.horizontal ul.megamenu > li{
        margin-#{$right}: 35px;
        > a{            
            line-height: 100%;
            color: #444;
            font-size: 14px;
            font-weight: 500;
            padding: 20px 0 19px 0;
            strong{
                font-weight: 500;
            }
        }
        
        &:hover,
        &.active,
        &.menu_active{
            > a{                

            }
        }
        
    }    

    /*-- MEGA MENU VERTICAL --*/
    .container-megamenu.vertical{
    position: relative;    
        #menuHeading{
            .megamenuToogle-wrapper{
                background-color: transparent;
            }
            .megamenuToogle-pattern{                      
                .container{   
                    color: #fff;  
                    text-shadow: none;        
                    font-size: 14px;
                    padding-left: 20px;
                    height: 54px;
                    line-height: 54px;
                    border-radius: 0;
                    > div{
                        padding-top: 18px;
                        margin-right: 15px;
                        span {
                            background-color: #fff;
                        }
                    } 

                }                      
            }
        }  
        .vertical-wrapper ul.megamenu{
            box-shadow: none;
            border: 1px solid #e5e5e5;
            border-radius: 0;
            > li{
                border-bottom: 1px solid #e5e5e5;
                > a{
                    color: #444;
                    padding: side-values(19px 0 19px 35px);
                }
                &:hover{
                    background-color: #fafafa;
                    box-shadow: none;                 
                }
                &:last-child{
                    border: none;
                }
                &.loadmore{
                    padding-top: 18px;
                    padding-bottom: 18px;
                    i{
                        top: 18px;
                    }
                }
            }
        }
        @media (min-width: 992px) and (max-width: 1920px){
            .vertical-wrapper{
                @include effect-block-hide();
                position: absolute;
                width: 100%;
                top: 70px;
            }
            &:hover{
                .vertical-wrapper{
                    @include effect-block-show();
                    top: 54px;
                }
            }
            
        }

    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a::before{
        top: 24px !important;
    }
}
@media (min-width: 992px) and (max-width: 1920px){
.common-home{
    .typeheader-5{ 
        .container-megamenu.vertical{
            .vertical-wrapper{
                @include effect-block-show();
                top: 54px;
            }
            &:hover{
                .vertical-wrapper{
                    @include effect-block-show();
                    top: 54px;
                }
            }
        }
    }
}
}

