{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
<div id="panel-menu" class="side-menu panel panel-left">
	<div class="content">
		<div class="panel-left__top clearfix text-center">
			<div class="panel-logo">
				{{soconfig.get_logoMobile()}}
			</div>
			{% if soconfig.get_settings('barsearch_status') %}
				<div class="panel-search">
					{{ search }}
				</div>
			{% endif %}
			
		</div>
		
		{% if soconfig.get_settings('barmega1_status') %}
			{{content_menu1}}
		{% endif %}


		{% if soconfig.get_settings('barmega2_status') %}
			{{content_menu2}}
		{% endif %}

		{% if categories and soconfig.get_settings('barcategory_status') %}
		<div class="panel-left__midde">
	 		<div class="panel-group" id="panel-category" role="tablist" aria-multiselectable="true">
	 			{% for i,category in categories %}
	 			<div class="panel panel-default">
					<div class="panel-heading" role="tab" >
						<a href="{{category.href}}"> {{category.name}}</a>
						{% if category.children %}
							<span class="head"><a  class="pull-right accordion-toggle" data-toggle="collapse" data-parent="#panel-category" href="#panel-category{{i}}" aria-expanded="true"></a></span>
						 {% endif %}
						
					</div>
					
					{% if category.children %}
					<div id="panel-category{{i}}" class="panel-collapse collapse " role="tabpanel">
						<ul>
						   {% for child in category.children %}
							<li>
							 	{% if child.category_id == child_id %}
				                  	<a href="{{ child.href }}" class=" active"> {{ child.name }}</a> 
				                {% else %} 
				                  	<a href="{{ child.href }}" >{{ child.name }}</a>
				                {% endif %}
							</li>
						   {% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
	 			{% endfor %}
	 		</div>
	 	</div>
		{% endif %}

		
		<div class="panel-left__bottom clearfix text-center">
			{% if soconfig.get_settings('barcompare_status') %}
			<div class="col-xs-6">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
				<div class="bot-inner">
					<a href="{{compare}}">{{text_compare}}</a>
				</div>
			</div>
			{% endif %}

			{% if soconfig.get_settings('barwistlist_status') %}
			<div class="col-xs-6">
				<i class="fa fa-heart" aria-hidden="true"></i>
				<div class="bot-inner">
					<a href="{{wishlist}}">{{text_wishlist}}</a>
				</div>
			</div>
			{% endif %}

			
			{% if language  %}
			<div class="col-xs-6 panel-left__language">
				{{ language }}
				<h4>{{text_language}}</h4>
			</div>
			{% endif %}

			<div class="col-xs-6 panel-left__language">
				{{ currency }}
				<h4>{{text_currency}}</h4>
			</div>
			
			
		</div>
	</div>
</div>

