{{ text_received }}

{{ text_order_id }} {{ order_id }}
{{ text_date_added }} {{ date_added }}
{{ text_order_status }} {{ order_status }}

{{ text_user_data }}

{% if telephone %}
    {{ text_telephone }} {{ telephone }}
{% endif %}

    {{ text_name }} {{ firstname }} {% if lastname %} {{ lastname }} {% endif %}

{% if payment_method %}

    {{ text_payment_method }} {{ payment_method }}
{% endif %}

{% if shipping_method %}
    {{ text_shipping_method }} {{ shipping_method }}
{% endif %}

{% if shipping_city %}
    {{ text_shipping_city }} {{ shipping_city }}
{% endif %}

{% if shipping_address_1 %}
    {{ text_shipping_address_1 }} {{ shipping_address_1 }}
{% endif %}

{% if shipping_address_2 %}
    {{ text_shipping_address_2 }} {{ shipping_address_2 }}
{% endif %}

{{ text_product }}

{% for product in products %}
    {{ product.quantity }}x {{ product.name }} ({{ product.model }}) {{ product.total }}
    {% if option %}
        {% for option in product.option %}
	        - {{ option.name }} {{ option.value }}
        {% endfor %}
    {% endif %}
{% endfor %}

{% if vouchers %}

    {% for voucher in vouchers %}
        1x {{ voucher.description }} {{ voucher.amount }}
    {% endfor %}
{% endif %}
{{ text_total }}

{% for total in totals %}
    {{ total.title }}: {{ total.value }}
{% endfor %} 
  
{% if comment %}
    {{ text_comment }}

    {{ comment }}
{% endif %}

